.form{
    background-color: white;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 50px;
    color: $contents-color;
    font-size: $big-font-size;
    text-align: center;
    .formComponent{
        margin-bottom: 50px;
        padding-bottom: 50px;
        .input{
            position: center;
            
        }
    }
}

