.footer {
    max-width: $max-page-width;
    background-color: #325572;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    margin: 55px auto;
    flex-wrap: wrap;
    @include breakpoint("phone-tablet") {
      justify-content: center;
      max-width: 350px;
      margin-bottom: 25px;
    }
    .column {
      @include breakpoint("phone-tablet") {
        margin-bottom: 0;
      }
      .copyright{
        color: $contents-color;
        font-size: 12px;
      }
      .product{
        color: $contents-color;
        font-size: 12px;
      }
    }
  }
  