.footer {
  background-color: #fbebea;
  width: 85%;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin: 50px 30px 50px 105px;
  flex-wrap: wrap;
  .column {
    @include breakpoint("phone-tablet") {
      margin-bottom: 0;
    }
    .copyright {
      color: black;
      font-size: 15px;
    }
    .product {
      color: black;
      font-size: 15px;
    }
  }
}
