.feedPhoto {
  display: flex;
  margin-top: 30px;
  @include boxBorder(yes);
  width: 100%;
  background-color: #fbebea;
  .mainImage {
    height: 450px;
    width: 500px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .mainChat {
    display: block;
    width: 433px;
    align-items: space-between;
    .header {
      display: flex;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      .userInfo {
        display: inline-flex;
        align-items: center;
      }
      .userName {
        vertical-align: middle;
        font-size: 13px;
        margin-right: 10px;
      }
      .userLocation {
        vertical-align: middle;
        font-size: 11px;
      }
      .image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .meta {
      height: 340px;
    }
    .commentBox {
      background-color: #fbebea;
      height: 50px;
    }
  }
  .header {
    color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;

    .header-column {
      display: flex;
      flex-direction: column;
      .creator {
        font-weight: 600;
        margin-bottom: 5px;
      }
      .location {
        font-size: $small-font-size;
      }
    }
  }
  .meta {
    padding: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
}
