.addPhoto {
  width: 40%;
  height: 40%;
  margin-left: 350px;
  background-color: fbebea;

  .form {
    .text-input {
      border-radius: 3px;
      width: 100%;
      padding-bottom: 25px;
      text-align: center;
      border: none;
      background-color: white;
      margin-bottom: 5px;
      font-size: $normal-font-size;
      padding: 9px 0 7px 8px;
      font-weight: 400;
      border-bottom: 1px solid black;
      color: $contents-color;
      #file {
        padding-left: 100px;
      }
      &:focus {
        outline: none;
        border-bottom: 3px ridge $contents-color;
      }
    }
    button {
      @include blueButton();
      i {
        font-size: 18px;
        margin-right: 10px;
      }
      background-color: $contents-color; // Login Button Color
    }
    input {
      display: block;
    }
  }
}
